.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#image1{
  width: 100%;
  height: 500px;
  margin-top: -22px;
}
#three{
  padding-left: 30px;
}
#why{
  text-align: center;
}
#hail{
  color: blueviolet;
  font-size: 150px;
}
#hand{
  color: blueviolet;
  font-size: 120px;
}
#icon1{
  display: flex;
  justify-content: space-evenly;
}
#title1{
  width: 100;
  height:70px;
  color: black;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-left: 10px;
  
}
#image5{
  width: 280px;
  height: 280px;
  border-radius: 5px;
}
#fourImages{
  display: flex;
  justify-content: space-evenly;
}
#fourContent{
  display: flex;
  justify-content: space-evenly;
}
#book{
  font-size: 80px;
  color: #620fba;
 
}
#book1{
  width: 320px;
  height: auto;
  border-style: solid;
  border-color: #f1edf5;
  background-color: #f1edf5;
  margin-top: 60px;
  text-align: center;
  border-radius: 10px;
}
#books1{
  display: flex;
  justify-content: space-evenly;
}
#three1{
  padding-left: 50px;
}
#accordion{
  width: 95%;
  padding-left: 40px;
}
#copyright{
  font-size: 18px;
}
#copyright1{
  display: flex;
}
#asian1{
  padding-left: 10px;
  transform: translateY(-4px);
}
#footer1{
  display: flex;
  color: white;
  background-color: black;
  height:64px;
}
#socialicons{
  display: flex;
  padding-left: 900px;
  justify-content: space-evenly;
  width: 150px;
  padding-top: 20px;
}
#copyright1{
  padding-left: 20px;
  padding-top: 20px;
}